{% extends "layout.html" %}

{% block title %}Page Analyzer. Main page{% endblock %}

{% block content %}
<div class="container-lg">
  <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
    <h1>Анализатор страниц</h1>
    <p>Бесплатно проверяйте сайты на SEO-пригодность</p>
    <form action="{{ url_for('url_post') }}" method="post" class="d-flex justify-content-center">
    <input type="text" name="url" class="form-control-lg rounded-3" placeholder="https://www.example.com" aria-label="Ссылка на сайт" required>
    <input type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3" value="Проверить">
    </form>
  </div>
</div>
{% endblock %}
