{% extends "users/layout.html" %}

{% block title %}Пользователи{% endblock %}

{% block content %}

{% if messages %}
  <ul class=flashes>
  {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}

<form action="{{ url_for('users_get') }}" method="get">
    <input type="search" name="term" value="{{ search }}" />
    <input type="submit" value="Search" />
</form>

<a href="{{ url_for('users_new') }}">Добавить пользователя</a>

<!--можно переделать в таблицу с заголовками Имя и email (см.3_Module_three/Веб-разработка_Flask/5_Flask/lessons_theory/25_Работа с базой данных в Flask_pr.txt)-->
<!--<table>-->
<!--    <thead>-->
<!--        <tr>-->
<!--          <th>Имя</th>-->
<!--          <th>Email</th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--        {% for user in users %}-->
<!--          <tr>-->
<!--            <td><a href="{{ url_for('users_show', id=user.id) }}">{{ user.name }}</td>-->
<!--            <td>{{ user.email }}</td>-->
<!--          </tr>-->
<!--        {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->
<table>
    {% for user in users %}
    <tr>
   <td>Имя: <a href="{{ url_for('users_show', id=user.id) }}">{{ user.name }}</a>, Email: {{ user.email }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}